

body
{
    font-family: 'Montserrat', sans-serif;
    
}
.justify-text{
  text-align: justify;
}


.card{
  margin-bottom: 20px;
}
.fas{
  color: red;
}

.display-cards{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
 
}
#programs .card{
  margin: 10px;
  border: none;
  background-color: #f8f9fa;
  padding: 0px;
}

#programs .card:hover{
  box-shadow: #263238;
  background-color: #263238;
  color: white;
}

.justify-text-left{
  text-align: left;
}
body p{
  font-size: 18px;
}
.navbar
{
    background-color: #36414e;
}
.navbar .brand-navbar img:hover
{
    opacity: 0.7;
}
span{
    font-size: 50px;
    color: #dc3545;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul
{
padding: 0px 100px 20px 0px;
}
.navbar ul li a{
    color: white;
    margin: 20px 0px 0px 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar ul li a:hover{
    color: #dc3545;
}
.navbar ul li.active > a {
    color: #dc3545;
    font-weight: bold;
    font-size: 14px;
    
}
.iconStyle
{
    color: #dc3545;
}
@media(max-width: 850px){
  .navbar img{
    margin-right: 50px;
  }
}

/* carousel start  */
 
  button:focus {
    outline: none;
    -webkit-box-shadow: none;
            
            
  }
  .row .col-4 button{
    box-shadow: none;
    border: 1px solid #dc3545;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3%;
    cursor: pointer;
    background: transparent;

  }
  @media(max-width: 850px){
    .row .col-4 button{
      width: 200px;
      margin-left: 30px;
    }
  }
  
  header a,
  header a:hover {
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  header img {
    display: inline-block;
    max-width: 100%;
  }
  
  @media (min-width: 600px) {
    .justify-text {
      text-align: justify;
    }
  }

  @media (max-width: 600px) {
    header .container {
      max-width: 1300px;
    }
  }
  
  /* header #main-carousel {
    margin-top: 20px;
    text-shadow: 1px 2px 3px #0000001f;
  } */
  
  #main-carousel h5 {
    font-size: 3rem;
    font-family: inherit;
    font-weight: 300;
    -webkit-animation: leftToRight 1s ease-in-out .5s;
            animation: leftToRight 1s ease-in-out .5s;
  }
  
  #main-carousel h2 {
    font-size: 6.6rem;
    font-weight: 900;
    font-family: inherit;
    letter-spacing: 2px;
    -webkit-animation: topToBottom 1s linear .3s;
            animation: topToBottom 1s linear .3s;
  }
  
  #main-carousel .carousel-caption {
    right: 15%;
    bottom: unset;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
  }
  
  #main-carousel .carousel-control-next,
  #main-carousel .carousel-control-prev {
    top: 50%;
    bottom: unset;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4%;
    font-size: 3.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    -webkit-transition: 5s all;
    transition: 5s all;
  }
  
  #main-carousel .carousel-control-next {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  #main-carousel .carousel-control-prev {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  #main-carousel .btn-info {
    background: transparent;
    text-transform: uppercase;
    border: 0;
    font-family: "helveticaregular";
    font-size: 1.8rem;
    position: relative;
    padding: 20px 0 0;
    margin: 20px 0 0;
  }
  
  #main-carousel .btn-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 5px;
    background-color: #fff;
  }
  
  .home__form {
    padding: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: -50px;
    font-size: 1.6rem;
        width: 80%;
      margin: auto;
  }
  
  .home__form h3 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  
  .home__form p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  
  .home__form form {
    text-align: left;
  }
  
 
  
  
  .btn.btn-danger {
    width: 100%;
    height: 45px;
    font-size: 1.7rem;
    background-color: #fc5546;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: transparent;
    -webkit-transition: .3s all;
    transition: .3s all;
  }
  
  .btn.btn-danger:hover {
    background: #fc5546;
    color: white;
  }
  
  .btn-more {
    font-size: 1.6rem;
    color: #000;
    font-family: "helveticaregular";
  }
  
  .btn-more span {
    border-bottom: 1px dotted #000;
  }


  @media(max-width: 850px){
    .carousel-inner{
      max-width: 100%;
       height: 30vh; 
       overflow: hidden;
    }
   
  }
/* end of carousel  */

  /* main section  */
  .features-1 {
    padding-top: 30px;
    position: relative;
    z-index: 8;
    text-align: center;
    background-color: rgba(0, 32, 74, 0.05); }
  
  .box-feature {
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px; }
    .box-feature h3, .box-feature .h3 {
      font-size: 22px;
      margin: 0;
      padding: 0; }
    .box-feature [class^="flaticon-"] {
      color: #00204a;
      font-size: 60px;
      margin: 0 0 10px 0;
      display: block;
      padding: 0;
      line-height: 0; }
      .box-feature p{
        font-size: 20px;
      }

      @media(max-width: 850px){
        .container .row{
          display: block;
          grid-template-columns: 1fr;

        }
        .container .row .col-5{
          max-width: 400px;
        }
        .container .row .col-6{
          max-width: 400px;
        }
        .container-fluid .third-section .row{
          display: block;
          grid-template-columns: 1fr

        }
        .container-fluid .third-section .row .col-sm-4{
          max-width: 400px;

        }
        .container-fluid .third-section .row .col-sm-8{
          max-width: 400px;
        }
      }
      
      /* section 2 */

      .ftco-section {
        padding: 7em 0;
        position: relative; }
        @media (max-width: 720.98px) {
          .ftco-section {
            padding: 6em 0; }
            
          }
      
      .ftco-bg-dark {
        background: #3c312e; }
      
      .ftco-no-pt {
        padding-top: 0 !important; }
      
      .ftco-no-pb {
        padding-bottom: 0 !important; }

        .row .d-flex{
          grid-template-columns: repeat(1,3fr);
          justify-content: space-between;
        }
        .blog-entry img{
          position: relative;
          width: 350px;
        }
        .head .text{
          font-size: 20px;
          font-weight: lighter;
        }

        @media (max-width: 750px){
          .row .d-flex{
            grid-template-columns: repeat(1,3fr);
            justify-content: space-between;
          }
          .col-md-4 .d-flex .ftco-animate{
            width: 300px;
            justify-content: center;
          }
          .blog-entry img{
            position: relative;
            width: 300px;
            display: block;
          }
          .head .text{
            font-size: 15px;
            font-weight: lighter;
          }
        }
      
      /* end of section 2 */


/* third section  */

.third-section{
  /* background-color: rgb(252, 85, 70); */
  background-color: rgba(252, 85, 79, 1);
  width: 90%;
  height: 50vh;
}
.col-sm-4 img{
  margin-top: 10rem;
}
.col-sm-8 h2{
  padding-top: 10rem;
}
.col-sm-8 h2, p{
  text-align: left;
  
}
.col-sm-8 p{
  padding-right: 10rem;
}

/**********************/
/*     Invitation     */
/**********************/
.basic-4 {
	padding-top: 9.25rem;
	padding-bottom: 9.75rem;
	text-align: center;
	/* background-image: ur; */
}

.basic-4 h4 {
	margin-bottom: 2rem;
}

/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	position: relative;
	padding-top: 9.75rem;
	padding-bottom: 9.75rem;
}

.slider-1 .quotes-decoration {
	position: absolute;
	top: 0;
	left: 15px;
	width: 120px;
	opacity: 0.2;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 86%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .testimonial-image {
	width: 120px;
	height: 120px;
	margin-bottom: 2.25rem;
	border-radius: 50%;
}

.slider-1 .testimonial-text {
	margin-bottom: 1.75rem;
	font-size: 1.25rem;
	line-height: 2rem;
}

.slider-1 .testimonial-author {
	margin-bottom: 0.25rem;
	color: #2b2b4f;
}


/* end of third section  */
  /* end of main section  */
  
  
  
  /* footer  */
  /*footer*/
  
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:20px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}



@media(max-width: 850px){
  .container .bottom_border{
    display: block;
    grid-template-columns: 3fr;
    
  }
  footer .container .row .col{
    max-width: 400px;
  }
}